body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f3f3f3; */
    background-image: url('./img/img_3.jpg');
    background-size: cover;
    /* background-position: center; */
}

.weather-app {
    max-width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* background-color: transparent; */
}

img {
    margin-top: 0;
    text-align: center;
    width: 80px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(116 0 173 / 92%);
    font-size: 36px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3186e0;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.weather-info {
    text-align: center;
}

.weather-day {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 15px;
    margin: 5px;
    width: 220px;
    height: 280px;
    /* Add the height property */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.weather-day h3 {
    margin-top: 0;
    margin-bottom: 3px;
}

.weather-day h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.weather-day p {
    margin: 2px 0;
}

.city_not_selected h2 {
    margin-bottom: 30px;
}


/* Add more styles for other weather conditions as needed */

.footer p {
    color: rgb(88, 4, 111);
    display: flex;
    justify-content: flex-end;
    margin: 1% auto;
}

@media (max-width: 768px) {
    body {
        /* font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        /* background-color: #f3f3f3; */
        /* background-image: url('./img/img_3.jpg'); */
        background-size: cover;
        /* background-position: center; */
    }
    .weather-app {
        margin: 0;
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    body {
        /* font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        /* background-color: #f3f3f3; */
        /* background-image: url('./img/img_3.jpg'); */
        background-size: cover;
        /* background-position: center; */
    }
    .weather-app {
        margin: 0;
        background-color: transparent;
    }
}